/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-01-12, 01:59:16
    Author     : Kuczma
*/

img {
    transition: transform 0.3s;
}

img:hover { 
    transform: scale(2.5);
}

.midImg{
	width:270px;
	height:150px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-75px 0 0 -135px;
}

#left {
	width: 20%;
	float: left;
	overflow: hidden;
	}
#content {
	width: 80%;
	float: left;
	overflow: hidden;
	}
#wgtmsr{
 width:150px;   
}

#wgtmsr option{
  width:150px;   
}

.space { margin-top: 300px; }

input[type=checkbox] {
  transform: scale(2.3);
}


